
body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  color: #000;
  line-height: 1.5em;
  background-color: #99D6FF;
}

h1 {
    padding: 20px;
    margin: 0px;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.flexbox {
  margin: 5px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
}

.rowflex {
  display: flex;
  flex-flow: row wrap;
}

.colflex {
  display: flex;
  flex-flow: column wrap;
}

.block {
  display: block;
}
.center {
  display: flex;
  margin: auto;
  justify-content: center;
}

img {
    height: 200px;
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.episodes {
    flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


}
.episode {
    display: block;
    width: 270px;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
}
.container {
    max-width: 1200px;
    margin: auto;
    background-color: #EAF6FF;
    margin-top: 0px;
} 
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

